{% extends 'paragraph.html.twig' %}
{% block content %}
  {% if content.field_link and content.field_link[0]['#url'] %}
    <a href="{{ content.field_link[0]['#url'] }}" rel="bookmark">
  {% endif %}
    {{ content.field_photo }}
    <h3{{ title_attributes.addClass('title') }}>{{ content.field_name|raw }}</h3>
  {% if content.field_link %}
    </a>
  {% endif %}
  {{ content.field_title }}
  {% if content.field_person_twitter_link|render|striptags|trim is not empty or content.field_person_linkedin_link|render|striptags|trim is not empty or content.field_person_facebook_link|render|striptags|trim is not empty %}
    <div class="social-links">
      {% if content.field_person_twitter_link|render|striptags|trim is not empty %}
        <a href="{{ content.field_person_twitter_link[0]['#url'] }}" class="social-links__item">
          <svg class="icon icon--social-twitter"><use xlink:href="#icon-social-twitter"></use></svg>
        </a>
      {% endif %}
      {% if content.field_person_linkedin_link|render|striptags|trim is not empty %}
        <a href="{{ content.field_person_linkedin_link[0]['#url'] }}" class="social-links__item">
          <svg class="icon icon--social-linkedin"><use xlink:href="#icon-social-linkedin"></use></svg>
        </a>
      {% endif %}
      {% if content.field_person_facebook_link|render|striptags|trim is not empty %}
        <a href="{{ content.field_person_facebook_link[0]['#url'] }}" class="social-links__item">
          <svg class="icon icon--social-facebook"><use xlink:href="#icon-social-facebook"></use></svg>
        </a>
      {% endif %}
    </div>
  {% endif %}
  {% if content.field_link and content.field_link[0]['#url'] %}
    <a href="{{ content.field_link[0]['#url'] }}" class="cta">{{ content.field_link[0]['#title'] }}</a>
  {% endif %}
{% endblock %}
