{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>

    <div class="main-column">
      <div class="content">
        {% if content.field_business %}
          <div class="eyebrow">
            {{ content.field_business }}
          </div>
        {% endif %}
        {{ title_prefix }}
        <h1{{ title_attributes.addClass('title') }}>{{ label }}</h1>
        {{ title_suffix }}
        {% if facebook_url or linkedin_url or twitter_url %}
          <div class="social-links">
            {% if twitter_url %}
              <a href="{{ twitter_url }}">
                <svg class="icon icon-social-twitter"><use xlink:href="#icon-social-twitter"></use></svg>
              </a>
            {% endif %}
            {% if linkedin_url %}
              <a href="{{ linkedin_url }}">
                <svg class="icon icon-social-linkedin"><use xlink:href="#icon-social-linkedin"></use></svg>
              </a>
            {% endif %}
            {% if facebook_url %}
              <a href="{{ facebook_url }}">
                <svg class="icon icon-social-facebook"><use xlink:href="#icon-social-facebook"></use></svg>
              </a>
            {% endif %}
          </div>
        {% endif %}
        {% if content.field_title %}
          <h3>{{ content.field_title }}</h3>
        {% endif %}
        {{ content.body }}
        {{ content.field_main_column }}
        {{ content.field_paragraphs }}
        {{ addthis }}
      </div>
      <div class="aside">
        {{ content.field_photo }}
        {{ content.field_aside_paragraphs }}
      </div>
    </div>

    {% if content.field_lower_paragraphs %}
      <div class="lower-paragraphs">
        {{ content.field_lower_paragraphs }}
      </div>
    {% endif %}

  </div>

</article>
