{#
/**
 * @file
 * Custom page template.
 */
#}

<div id="page-wrapper" class="page-wrapper">
  {% if page.menus %}
    <div id="menus" class="page-wrapper__menus">
      {{ page.menus }}
    </div>
  {% endif %}
  <div id="page" class="page-wrapper__page">
    {% if page.top_bar or page.header %}
      <header id="header" class="fullscreen-banner site-header clearfix">
        {{ page.top_bar }}
        {# page.header #}
        <!--<div class="banner-text">
            <span> Careers </span>
            <p class="banner-learnmore"> At Cubic, the entrepreneurial spirit of our employees drive market-leading<br /> innovative technologies of the future.<br /><br />
                <a href="#main-content"> Learn More  <i class="arrow right"></i></a>
            </p>
        </div>-->
		
		<div class="region region-header">
    

		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'block' -->
		<!-- FILE NAME SUGGESTIONS:
		* block--page--page-title-block.html.twig
		* block--cubic-page-title.html.twig
		x block--page-title-block.html.twig
		* block--core.html.twig
		* block.html.twig
		-->
		<!-- BEGIN OUTPUT from 'themes/custom/cubic/templates/blocks/block--page-title-block.html.twig' -->
		<div id="block-cubic-page-title" class="block block-core block-page-title-block">
		<div class="page-header-background" style="background-image: url(&quot;https://stage.cubic.com/sites/default/files/2020-10/careers-diagnol-1366x600-3.png?itok=KbMOCKpH&quot;)">


		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'image_style' -->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image-style.html.twig' -->


		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'image' -->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->
		<img src="/sites/default/files/styles/hero_compressed/public/2018-08/adult-beautiful-business-864994.jpg?itok=KbMOCKpH" width="1600" height="1067" alt="Careers" typeof="foaf:Image" class="image-style-hero-compressed">

		<!-- END OUTPUT from 'core/themes/classy/templates/field/image.html.twig' -->



		<!-- END OUTPUT from 'core/themes/classy/templates/field/image-style.html.twig' -->


		</div>
		<div class="page-title-content">





		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'page_title' -->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/content/page-title.html.twig' -->

		<h1 class="page-title">

		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'field' -->
		<!-- FILE NAME SUGGESTIONS:
		* field--extra-wrappers--node--title--page.html.twig
		* field--extra-wrappers--node--title.html.twig
		* field--extra-wrappers--node--page.html.twig
		* field--extra-wrappers--title.html.twig
		* field--extra-wrappers--string.html.twig
		* field--node--title--page.html.twig
		x field--node--title.html.twig
		* field--node--page.html.twig
		* field--title.html.twig
		* field--string.html.twig
		* field.html.twig
		-->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--node--title.html.twig' -->
		<span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Careers</span>

		<!-- END OUTPUT from 'core/themes/classy/templates/field/field--node--title.html.twig' -->

		</h1>


		<!-- END OUTPUT from 'core/themes/classy/templates/content/page-title.html.twig' -->


		<div class="intro">


		<!-- THEME DEBUG -->
		<!-- THEME HOOK: 'field' -->
		<!-- FILE NAME SUGGESTIONS:
		* field--extra-wrappers--node--body--page.html.twig
		* field--extra-wrappers--node--body.html.twig
		* field--extra-wrappers--node--page.html.twig
		* field--extra-wrappers--body.html.twig
		* field--extra-wrappers--text-with-summary.html.twig
		* field--node--body--page.html.twig
		* field--node--body.html.twig
		* field--node--page.html.twig
		* field--body.html.twig
		x field--text-with-summary.html.twig
		* field.html.twig
		-->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/field/field--text-with-summary.html.twig' -->

		<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
		<p>At Cubic, the entrepreneurial spirit of our employees drive&nbsp;market-leading innovative technologies of the future.</p>

		<p><a href="#main-content">Learn More</a></p>
		</div>

		<!-- END OUTPUT from 'core/themes/classy/templates/field/field--text-with-summary.html.twig' -->


		</div>
		</div>
		</div>

		<!-- END OUTPUT from 'themes/custom/cubic/templates/blocks/block--page-title-block.html.twig' -->


		</div>
		
      </header>
    {% endif %}
    <div id="main-wrapper" class="main-wrapper clearfix">
      <main id="content" class="main-wrapper__content">
        <section class="clearfix">
          <a id="main-content" tabindex="-1"></a>
          
		  <!-- Features Section -->
		  <!-- Banner Section -->
    <!--<div class="ontainer-flued">
        <img class="card-img-top" src="https://stage.cubic.com/sites/default/files/2020-10/Group%20422.png" alt="">
    </div>-->
	
     <section class="career-features section-padding" id="main-content">
        <div class="container-fluid">
            <div class="header-title text-center pb-50"> <span>Do you want to make a positive difference in people's lives?
			</span></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://stage.cubic.com/sites/default/files/2017-10/Eclipse-Culture.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Our Culture</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="https://stage.cubic.com/careers/culture">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://stage.cubic.com/sites/default/files/2019-05/Transitioning%20Military_Cubic.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Transitioning Military</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="https://stage.cubic.com/node/456">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://stage.cubic.com/sites/default/files/2019-05/Cubic%20Internships.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Global Jobs</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="https://cubic.wd1.myworkdayjobs.com/cubic_global_careers/jobs" target="_blank">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://stage.cubic.com/sites/default/files/2017-11/Investor%20FAQ-839825008.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Benefits</h5>
                            <p class="card-text">Some quick example text to build on the card.</p>
                            <a href="https://stage.cubic.com/benefits-cubic">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Location Benefits - Section -->
    <section class="opportunities pb-30">
        <div class="container">
            <div class="row justify-content-center hover-effect">

                <div class="col-sm-6 col-md-4">
                    <div class="feature-box">
                        <h4>USA Opportunities</h4>
                        <button type="button" class="btn btn-custom site-btn">
                        <a href="https://cubic.wd1.myworkdayjobs.com/cubic_USA_careers/jobs" target="_blank">
						Explore </a> <i class="arrow right"></i></button>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box">
                        <h4>Global Opportunities</h4>
                        <button type="button" class="btn btn-custom site-btn"> 
                         <a href="https://cubic.wd1.myworkdayjobs.com/cubic_global_careers/jobs" target="_blank">
						Explore </a>
						<i class="arrow right"></i></button>

                    </div>
                </div>
                <!-- End Col -->
            </div>
        </div>
    </section>
	 <section class="text-center my-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="header-title text-center"> <span>Meet your future colleagues</span></div>
                    <div class="middle-content">
                        <p> Cubic's diverse, talented employees make us who we are.
Learn about our team members who exemplify our company's core values and make Cubic an exceptional place to work.
.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     {{ page.content }}
 <!--<section class="career-collegues section-padding">
        <div class="container">
            <div class="header-title text-center"> <span>Meet your future colleagues</span></div>
            <div class="middle-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="customer-logos slider mt-4">
                <div class="slide">
                    <a href="#myModal" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/01-350x200_0.jpg" alt="My Logo" /> </a>
                </div>
                <div class="slide">
                    <a href="#myModalyoutube" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/02-350x200_0.jpg" alt="My Logo" /> </a>
                </div>
                <div class="slide">
                    <a href="#myModal" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/03-350x200.jpg" alt="My Logo" /> </a>
                </div>
                <div class="slide">
                    <a href="#myModal" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/04-350x200.jpg" alt="My Logo" /> </a>
                </div>
                <div class="slide">
                    <a href="#myModal" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/05-350x200.jpg" alt="My Logo" /> </a>
                </div>
                <div class="slide">
                    <a href="#myModal" class="" data-toggle="modal"> <img src="https://stage.cubic.com/sites/default/files/2020-10/06-350x200.jpg" alt="My Logo" /> </a>
                </div> 
            </div>
        </div>
    </section>-->

  <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <iframe id="cartoonVideo" autoplay width="100%" height="auto" src="https://www.cubic.com?wvideo=zodv96bj6g" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>	
	
	<div id="myModalyoutube" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <iframe id="cartoonVideo" autoplay width="100%" height="auto" src="https://youtu.be/ss7hAvA5AsE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>	
	
	
  <!-- Locations Map Section -->
     <section class="career-map section-padding">
        <div class="container">
            <div class="header-title text-center"> <span>Check out your new office </span></div>
            <div class="middle-content text-center">
                <p> Cubic has offices in over seventy-five <a href="https://stage.cubic.com/about/locations" target="_blank">locations</a> in more than nineteen countries around the world. </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 map-wrapper mt-4">
                    <img src="https://stage.cubic.com/sites/default/files/2020-11/map.png" alt="location-map">
                    <div id="cubic1">
                        <span class="cubic-address1">
                            <b>San Diego, CA  </b> 
                            <p>9333 Balboa Avenue
                                San Diego, CA 92123</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic2">
                        <span class="cubic-address2">
                            <b>Austin, Texas</b> 
                            <p>10814 Jollyville Road
                                Austin, TX 78759
                               </p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic3">
                        <span class="cubic-address3">
                            <b>Tullahoma, TN</b> 
                            <p>1308 South Washington Street
                                Tullahoma, TN 37388 </p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic4">
                        <span class="cubic-address4">
                            <b>Huntsville, AL</b> 
                            <p>330 Bob Heath Drive
                                Huntsville, AL 35806</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic5">
                        <span class="cubic-address5">
                            <b>Ashburn, VA   </b> 
                            <p>21580 Beaumeade Circle, Suite 230
                                Ashburn, VA 20147</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic6">
                        <span class="cubic-address6">
                            <b>New York, NY  </b> 
                            <p>462 Seventh Avenue
                                14th Floor
                                New York, NY 10018</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic7">
                        <span class="cubic-address7">
                            <b>Orlando, FL</b> 
                            <p>3862 Quadrangle Blvd.
                                Suite 100
                                Orlando, FL 32817</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic8">
                        <span class="cubic-address8">
                            <b>Surrey, United Kingdom  </b> 
                            <p>SurreyHoneycrock Lane
                                Salfords, Redhill, Surrey, RH1 5LA
                                UK</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic9">
                        <span class="cubic-address9">
                            <b>Hamburg, Germany </b> 
                            <p>Alter Fischmarkt 11
                                20457 Hamburg</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic10">
                        <span class="cubic-address10">
                            <b>Hyderabad, India </b> 
                            <p>4th Floor, Block C & D, ILabs Technology Centre
                                Plot No. 18, Software Units Layout Sy No: 64
                                Madhapur, Hyderabad, India</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic11">
                        <span class="cubic-address11">
                            <b>Queensland, Australia</b> 
                            <p>336-342 Bayswater Road
                                Garbutt, Queensland 4814
                                Australia</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                    <div id="cubic12">
                        <span class="cubic-address12">
                            <b>Sydney, Australia </b> 
                            <p>Level 23, 477 Pitt Street
                                Sydney, NSW 2000, Australia
                                PO Box K4
                                Haymarket, NSW 1240</p>
                            <a href="#" target="_blank">Directions</a>
                        </span>
                    </div>
                </div>
            </div>
    </section>
 
    <!-- Explore Jobs CTA Section -->
    <section class="career-explorejobs">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-title"> Let's build the future together</div>
                    <p>One team, global challenges, infinite opportunities</p>
                </div>
                <div class="col-md-6">
                    <div class="cta-jobs text-right mt-3">
                        <button type="button" >
						<a class="btn" href="https://cubic.wd1.myworkdayjobs.com/cubic_global_careers/jobs" target="_blank">
						Explore all current openings </a>
						</button>
                    </div>
                </div>
            </div>
        </div>
    </section> 

        </section>
      </main>
    </div>
    {% if page.above_footer %}
      <div id="above-footer" class="page-wrapper__above-footer">
        {{ page.above_footer }}
      </div>
    {% endif %}
    <footer class="site-footer">
      <div class="site-footer__logo">
        {% include directory ~ '/_/img/logo-full.svg' %}
      </div>
      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="site-footer__top clearfix">
          {{ page.footer_first }}
          {{ page.footer_second }}
          {{ page.footer_third }}
          {{ page.footer_fourth }}
        </div>
      {% endif %}
      {% if page.footer_bottom %}
        <div class="site-footer__bottom clearfix">
          {{ page.footer_bottom }}
        </div>
      {% endif %}
    </footer>
  </div>
</div>

<script>
        $(document).ready(function() {
            $('.customer-logos').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>