{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<div{{ attributes.addClass(classes, 'field__items') }}>
  {% if jump_links %}
    <div class="paragraphs-jump-links">
      <ul class="jump-links-list">
        {% for jump_link in jump_links %}
          <li><a href="#{{ jump_link.id }}">{{ jump_link.value }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>
      <span class="inview-marker"></span>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
