{#
/**
 * @file
 * Default theme implementation for a carousel layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set svg_path = directory ~ '/src/svg/' %}
{% set cta_namespace = 'cta-new' %}

{% if content %}

  {% set contentType = '' %}
  {% set count = 0 %}

{% for key, item in content.first if key matches '/^[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$/' %}
    {% for node_count in item.content %}
      {% if node_count['#node'] is defined and node_count['#node'] is not null %}
        {% set contentType = getNodeType(node_count['#node']) %}

	  {% set count = count + 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
    {% set attributes = attributes.addClass('bh_layouts__bh-carousel-section--' ~ contentType ) %}

    <div{{ attributes.addClass(classes) }} data-module="CarouselFactory">
      <hr class="bh-layouts__border bh-layouts__border--above"/>
        <div class="bh-layouts__container">
            <div class="bh-layouts__grid">
                <div class="glide">
                  {% if content['#settings'].section_title is defined and content['#settings'].section_title != "" %}
                    <div class="bh-layouts__header">
                      <h2 class="bh-layouts__title">{{ content['#settings'].section_title }}</h2>
                    </div>
                  {% endif %}
                  <div class="bh-layouts__carousel-header">
                    {% if count > 1 %}
                      <span class="bh-layouts__carousel-count"><span class="bh-layouts__carousel-current">1</span>/{{ count }}</span>
                    {% endif %}
                    <div class="glide__arrows" data-glide-el="controls">
                        <span class="{{ cta_namespace }} {{ cta_namespace }}--circle glide__arrow glide__arrow-left" data-glide-dir="<">
                          {{ source(svg_path ~ 'chevron-left' ~ '.svg') }}
                        </span>
                        <span class="{{ cta_namespace }} {{ cta_namespace }}--circle glide__arrow glide__arrow-right" data-glide-dir=">">
                          {{ source(svg_path ~ 'chevron-right' ~ '.svg') }}
                        </span>
                      </div>
                  </div>
                  <div class ="carousel-add-block">
                    {{ content.first['layout_builder_add_block'] }}
                  </div>
                  <div class="bh-layouts__carousel-track">
                    {% if content.first %}
                      <div {{ region_attributes.first.addClass('bh-layouts__carousel') }}>
                        {{ content.first }}
                      </div>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        <hr class="bh-layouts__border bh-layouts__border--below"/>
    </div>
{% endif %}
